h1 {
  color : black; 
  text-align: center;
}

section.toolbar-position-bottom{
  visibility: hidden;
  height: 0px;
}

.disclaimer{
  text-align: center;
  margin-left : 1em;
  margin-right: 1em;
}

iframe {
  width: 100%;
  height: 1800px;
}